<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DrumTrainer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B455FB441DF6A5F90002363A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B455FB5B1DF6A5F90002363A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B455FB661DF6A5F90002363A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
