<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AudioSeer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B4D942AA1D8DC74500DA350B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4D942C61D8DC74600DA350B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4D942D11D8DC74600DA350B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
