<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ReddericLarson.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>16E0F50A1D779C7F009DC31B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16E0F5231D779C80009DC31B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16E0F52E1D779C80009DC31B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
